# ~/.gitconfig
#
# Configuration file for git

[color]
  ui = true
[color "branch"]
  current = green reverse
  local = green
[color "diff"]
  commit = magenta
  context = white
  frag = magenta bold
  meta = yellow
  new = cyan bold
  old = red
  whitespace = yellow bold
[color "status"]
  added = yellow bold
  changed = green bold
  untracked = cyan bold
[color "decorate"]
  HEAD = blue bold
  branch = green bold
  master = red bold
  remoteBranch = magenta bold
[core]
  editor = nvim
  excludesfile = ~/.gitexclude
  pager = cat
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[merge]
  tool = vimdiff
[stash]
  pager = less
[apply]
  whitespace = nowarn
[rerere]
  enabled = 1
[log]
  date = iso-local
[format]
  pretty = tformat:%C(yellow)%h %C(cyan) %ad %C(green) %<(20,trunc)%an %C(reset) %s%C(auto)%d
[alias]
  a = add
  aliases=!git config -l | grep alias | cut -c 7-
  amend = !git add -A && git commit --amend --no-edit
  b = blame
  be = blame -e
  br = branch
  ci = commit
  co = checkout
  curr = branch --show-current
  current = !git rev-parse --abbrev-ref --symbolic-full-name @{u}
  d = diff --color-words='[^[:space:]]'
  diffunpushed = diff @{u}..
  f = !count=$(git pend | wc -l) && echo "[$count commits]" && git format-patch HEAD~$count
  find = log --reverse -G
  fix = commit --fixup HEAD -p
  fp = format-patch origin
  g = log --graph -20
  gr = log --graph
  graph = log --graph --oneline --decorate=short --branches='*'
  l = log
  lg = log --name-status --color=always
  lgc = !C=$(git current) && TEXT=\"%C(white bold)\" git logformatcommiter -5 ${C}
  lge = !C=$(git current) && TEXT=\"%C(white bold)\" git logemail -5 ${@}
  lgg = !git logunpushed ${@} && git logpushed -5 ${@}
  logemail = !git log --graph --date=format:'%Y-%m-%d_%H%Mz' --pretty=\"tformat:%C(yellow)%h  %C(cyan)%ad  %C(green)%<(30,trunc)%ae  %C(yellow)%<(30,trunc)%ce\n  ${TEXT}%s%C(reset)%C(auto)%d\"
  logfollow = log --follow
  logformat = !git log --graph --date=format-local:'%Y-%m-%d_%H%M' --pretty=\"tformat:%C(yellow)%h  %C(cyan)%ad  %C(green)%<(20,trunc)%an  ${TEXT}%s%C(reset)%C(auto)%d\"
  logformatcommiter = !git log --graph --date=format-local:'%Y-%m-%d_%H%M' --pretty=\"tformat:%C(yellow)%h  %C(cyan)%ad  %C(yellow)%<(20,trunc)%cn  ${TEXT}%s%C(reset)%C(auto)%d\"
  logpushed = !C=$(git current) && TEXT=\"%C(white bold)\" git logformat ${C}
  logunpushed = !C=$(git current) && TEXT=\"%C(cyan bold)\" git logformat ${C}..HEAD
  lol = log --graph --color=always
  m = !git commit -m
  mg = merge --no-ff # Don't do fast-forward merges
  patch = am --reject --ignore-whitespace -i # Apply patch, ignoring whitespace
  pend = cherry -v
  praise = blame -e
  r = !count=$(git pend | wc -l) && echo "[$count commits]" && git rebase --autosquash -i HEAD~$count
  s = status
  sh = show --color=always
  st = status -sb
  up = pull
  upr = pull --rebase
  who = "!f() { W=$1; shift; git log --author=$W $@; }; f"
  whoami = config user.email
  wt = worktree
[pull]
  rebase = false
[push]
  default = simple
[http]
  sslVerify = true
[credential]
  helper = cache
[include]
  path = ~/.gitconfig.custom
